*, *:before, *:after {
  box-sizing: border-box;
}

.textfield {
  border: 1px solid var(--control--borderColor);
  display: flex;
  border-radius: 2px;
  vertical-align: middle;
}

.textfield--label {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 500;
  padding: .5rem 1rem;
  border-right: inherit;
  line-height: 1.5rem;
}

.textfield--input {
  flex: 1;
  background: transparent;
  border: 0;
  font: inherit;
  color: inherit;
  padding: 0 .5rem;
  align-self: stretch;
  line-height: 1.5rem;
  width: 100%;
}

.textfield--input:focus {
  outline: 1px var(--focused--outlineStyle) var(--control--outlineColor);
}

.textfield--button {
  font: inherit;
  background-color: var(--action--backgroundColor);
  color: var(--action--foregroundColor);
  padding: .5rem 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 500;
}

.textfield--button:focus {
  outline: 1px var(--focused--outlineStyle);
	outline-offset: -3px;
}