
<div class="closestColor">
  <input class="closestColor--input" type="color"/>
  <div class="closestColor--display">
    <label class="closestColor--label">Chosen</label>
    <output class="closestColor--outputChosen">Input</output>
  </div>
  <div class="closestColor--display">
    <label class="closestColor--label">Distance</label>
    <span class="closestColor--distance">
      <output class="closestColor--outputDistance">0</output>
    </span>
  </div>
  <div class="closestColor--display">
    <label class="closestColor--label">Closest</label>
    <output class="closestColor--outputClosest">Output</output>
  </div>


  
  
  
  
  
  
</div>