
<div class="closestColor">
  <input class="closestColor--input" type="color"/>
  <label class="closestColor--label closestColor--labelChosen">Chosen</label>
  <label class="closestColor--label closestColor--labelDistance">Distance</label>
  <label class="closestColor--label closestColor--labelClosest">Closest</label>
  <output class="closestColor--outputChosen"></output>
  <span class="closestColor--distance">
    <output class="closestColor--outputDistance"></output>
  </span>
  <output class="closestColor--outputClosest"></output>
</div>