.dd-fieldset {
  background-color: var(--control--backgroundColor);
  outline: 1px solid var(--control--borderColor);
  margin: 0;
  padding: 0;
  position: relative;
}

::slotted(:not(:last-child)),
.dd-fieldset > :not(:last-child) {
  box-shadow: 1px 0 0 0 var(--control--borderColor);
}

::slotted(.dd-flyout),
::slotted(blu-flyout),
.dd-fieldset .dd-flyout {
  position: absolute;
  top: 100%;
  left: -1px;
  min-width: calc(100% + 2px);
  z-index: 1;
}