*, *:before, *:after {
	box-sizing: border-box;
}

.toggleRange {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	min-height: 1.5rem;
}

.toggleRange--label {
  color: var(--toggleRange--accentColor, var(--control--foregroundColor));
  font-weight: 500;
  font-size: .9rem;
	text-transform: uppercase;
	text-align: right;
	line-height: 1;
}

.toggleRange--meter {
  border-radius: 1rem;
	border: .5rem solid var(--control--backgroundColor);
	min-width: 2.5rem;
	width: var(--toggleRange--width, auto);
	position: relative;
	margin: 0 .75rem;
	flex: 1;
}

.toggleRange--meter:before,
.toggleRange--meter:after {
  content: "";	
	top: -.5rem;
	left: -.5rem;
	height: 1rem;
	min-width: inherit;
	width: 100%;
	display: block;
	position: absolute;
  border-radius: inherit;
}

.toggleRange--meter:before {
  border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
}

.toggleRange--meter:after {
  background-color: var(--toggleRange--accentColor, var(--control--borderColor));
	opacity: var(--toggleRange--percent, 0);
	transition: .218s ease;
}

.toggleRange--knob {
  --toggleRange--knobdim: 1.5rem;
  position: absolute;
	background-color: var(--control--backgroundColor);
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	height: var(--toggleRange--knobdim);
	width: var(--toggleRange--knobdim);
	top: 50%;
	left: calc(var(--toggleRange--percent, 0) * 100%);
	margin: calc(var(--toggleRange--knobdim) / -2);
	border-radius: 1rem;
	z-index: 1;
}

.toggleRange:focus {
	outline: 0;
}

.toggleRange:focus .toggleRange--knob:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	height: calc(100% - 2px);
	width: calc(100% - 2px);
	border: 1px solid var(--control--outlineColor);
	border-radius: inherit;
	transform: translate(-50%, -50%);
}