.button {
  font: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  color: inherit;
  padding: calc(var(--density--sm) * 1rem) calc(var(--density--md) * 1rem);
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: calc(var(--textAction--fontSize) * .9);
  font-weight: var(--textAction--fontWeight);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.button[type="primary"] {
  background-color: var(--action--backgroundColor);
  color: var(--action--foregroundColor);
  border: 1px solid var(--action--borderColor);
}

.button[type="secondary"] {
  background-color: transparent;
  color: inherit;
  border: 1px solid var(--action--borderColor);
}

.button:focus {
  outline: 1px var(--focused--outlineStyle) var(--action--outlineColor);
	outline-offset: -3px;
}

.button:not([disabled]):hover {
  background-color: var(--actionHovered--backgroundColor);
  color: var(--actionHovered--foregroundColor);
  border: 1px solid var(--actionHovered--borderColor);
}

.button[disabled] {
  opacity: .4;
  cursor: not-allowed;
}