.dd-optionitem {
  font-family: var(--textLabel--fontFamily);
  font-size: var(--textLabel--fontSize);
  font-weight: var(--textLabel--fontWeight);
  line-height: var(--textLabel--lineHeight);
  color: var(--action--foregroundColor);
  padding: .5rem 1rem;
  cursor: pointer;
}

.dd-optionitem:hover {
  color: var(--actionHovered--foregroundColor);
  background-color: var(--actionHovered--backgroundColor);
}