.toggleRange {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 1.5rem;
	position: relative;
}

.toggleRange[type="range"] {
  display: flex;
  width: 100%;
}

.toggleRange--label {
	color: var(--toggleRange--accentColor, var(--control--foregroundColor));
	filter: var(--a11y--filter);
  font-weight: var(--textLabel--fontWeight);
  font-size: calc(var(--textLabel--fontSize) * .9);
	text-transform: uppercase;
	text-align: right;
	line-height: 1;
	cursor: pointer;
	order: -1;
	display: inline-flex;
	align-items: center;
}

.toggleRange--input:not([type="checkbox"]) {
	-webkit-appearance: none;
	min-width: 3rem;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 1rem;
	padding: 2px;
  margin: calc(var(--density--sm) * 1rem) calc(var(--density--md) * 1rem);
  flex: 1;
}

.toggleRange:focus-within .toggleRange--input:not([type="checkbox"]) {
	border-color: var(--control--outlineColor);
	border-style: var(--focused--outlineStyle);
}

.toggleRange--input:focus {
	outline: 0;
}

.toggleRange--input[type="range"]::-webkit-slider-runnable-track {
	height: 1rem;
	margin: 0;
	width: 100%;
	cursor: pointer;
	color: var(--toggleRange--accentColor, var(--control--borderColor));
	background: var(--toggleRange--backgroundColor, transparent);
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	border-radius: 1rem;
	box-sizing: content-box;
}

.toggleRange--input[type="range"]::-moz-range-track {
	height: 1rem;
	margin: 0;
	width: 100%;
	cursor: pointer;
	color: var(--toggleRange--accentColor, var(--control--borderColor));
	background: var(--toggleRange--backgroundColor, transparent);
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	border-radius: 1rem;
}

.toggleRange--input[type="range"]::-ms-track {
	height: 1rem;
	margin: 0;
	width: 100%;
	cursor: pointer;
	color: var(--toggleRange--accentColor, var(--control--borderColor));
	background: var(--toggleRange--backgroundColor, transparent);
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	border-radius: 1rem;
}

.toggleRange--input[type="range"]::-ms-fill-lower {
	background: transparent;
}

.toggleRange--input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: var(--control--backgroundColor);
	border-radius: 1rem;
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	cursor: pointer;
	height: 1rem;
	width: 1rem;
	transform: scale(1.5);
}

.toggleRange--input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	background: var(--control--backgroundColor);
	border-radius: 1rem;
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	cursor: pointer;
	height: 1rem;
	width: 1rem;
	transform: scale(1.5);
}

.toggleRange--input[type="range"]::-ms-thumb {
	-webkit-appearance: none;
	background: var(--control--backgroundColor);
	border-radius: 1rem;
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	cursor: pointer;
	height: 1rem;
	width: 1rem;
	transform: scale(1.5);
}

.toggleRange--input[type="checkbox"] {
	-webkit-appearance: none;
	position: absolute;
	background: var(--control--backgroundColor);
	border-radius: 1rem;
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	height: 1rem;
	width: 1rem;
	margin: 0 4px;
	transform: scale(1.5) translateX(-1rem);
	right: 0;
	z-index: 1;
	cursor: pointer;
}

.toggleRange--input[type="checkbox"]:checked {
	transform: scale(1.5) translateX(0);
}

.toggleRange--input[type="checkbox"] + .toggleRange--label::before,
.toggleRange--input[type="checkbox"] + .toggleRange--label::after {
	content: "";
	display: inline-block;
	border-radius: 1rem;
}

.toggleRange--input[type="checkbox"] + .toggleRange--label::before {
	position: absolute;
	border: 1px solid transparent;
	right: 0;
	padding: .75rem;
  width: 3rem;
}

.toggleRange--input[type="checkbox"]:focus + .toggleRange--label::before {
	border-color: var(--control--outlineColor);
	border-style: var(--focused--outlineStyle);
}

.toggleRange--input[type="checkbox"] + .toggleRange--label::after {
	--toggleRange--focusOffset: 4px;
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	background: var(--toggleRange--backgroundColor, transparent);
	color: var(--toggleRange--accentColor, var(--control--borderColor));
	margin-left: calc(var(--density--md) * 1rem);
	margin-right: var(--toggleRange--focusOffset);
	padding: calc(.75rem - var(--toggleRange--focusOffset));
  width: calc(3rem - var(--toggleRange--focusOffset) * 2);
	flex-shrink: 0;
}

.toggleRange--input[type="checkbox"]:checked + .toggleRange--label::after {
	--toggleRange--backgroundColor: currentColor;
}