*, *:before, *:after {
	box-sizing: border-box;
}

.toggleRange {
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	min-height: 1.5rem;
	position: relative;
}

.toggleRange[type="range"] {
  display: flex;
  width: 100%;
}

.toggleRange[type="toggle"]:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.toggleRange--label {
  color: var(--toggleRange--accentColor, var(--control--foregroundColor));
  font-weight: 500;
  font-size: .9rem;
	text-transform: uppercase;
	text-align: right;
	line-height: 1;
}

.toggleRange--input {
	-webkit-appearance: none;
	min-width: 3rem;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 1rem;
	padding: 2px;
  margin: .5rem 1rem;
  flex: 1;
}

.toggleRange[type="toggle"] .toggleRange--input {
	width: 3rem;
}

.toggleRange:focus-within .toggleRange--input {
	border-color: var(--control--outlineColor);
}

.toggleRange--input:focus {
	outline: 0;
}

.toggleRange[type="toggle"] .toggleRange--input[value="1"] {
	--toggleRange--backgroundColor: currentColor;
}

.toggleRange--input::-webkit-slider-runnable-track {
	height: 1rem;
	margin: 0;
	width: 100%;
	cursor: pointer;
	color: var(--toggleRange--accentColor, var(--control--borderColor));
	background: var(--toggleRange--backgroundColor, transparent);
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	border-radius: 1rem;
	box-sizing: content-box;
}

.toggleRange--input::-moz-range-track {
	height: 1rem;
	margin: 0;
	width: 100%;
	cursor: pointer;
	color: var(--toggleRange--accentColor, var(--control--borderColor));
	background: var(--toggleRange--backgroundColor, transparent);
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	border-radius: 1rem;
}

.toggleRange--input::-ms-track {
	height: 1rem;
	margin: 0;
	width: 100%;
	cursor: pointer;
	color: var(--toggleRange--accentColor, var(--control--borderColor));
	background: var(--toggleRange--backgroundColor, transparent);
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	border-radius: 1rem;
}

.toggleRange--input::-ms-fill-lower {
	background: transparent;
}

.toggleRange--input::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: var(--control--backgroundColor);
	border-radius: 1rem;
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	cursor: pointer;
	height: 1rem;
	width: 1rem;
	transform: scale(1.5);
}

.toggleRange--input::-moz-range-thumb {
	-webkit-appearance: none;
	background: var(--control--backgroundColor);
	border-radius: 1rem;
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	cursor: pointer;
	height: 1rem;
	width: 1rem;
	transform: scale(1.5);
}

.toggleRange--input::-ms-thumb {
	-webkit-appearance: none;
	background: var(--control--backgroundColor);
	border-radius: 1rem;
	border: 1px solid var(--toggleRange--accentColor, var(--control--borderColor));
	cursor: pointer;
	height: 1rem;
	width: 1rem;
	transform: scale(1.5);
}
