.dd-button {
  font: inherit;
  background-color: var(--accent--defaultColor);
  color: var(--onAccent--defaultColor);
  padding: .5rem 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 500;
}

.dd-button:focus {
  outline: 0;
  text-decoration: underline;
}