<html>
  <head>
    {% include "head.njk" %}
  </head>
  <body style="opacity: 0">
    <div class="app">
      <input type="checkbox" id="navigation-toggle"/>
      <nav>
        <header class="header">
          <a class="logo" href="/">
            {% include "damato.svg" %}
          </a>
          <label for="navigation-toggle" class="nav-button"></label>
        </header>
        {% include "navigation.njk" %}
      </nav>
      <main>
        <header class="controls">
          <toggle-range id="system-color" type="toggle" chosen>
            System Color
          </toggle-range>
          <toggle-range id="audience-designer" type="toggle" chosen>
            Designer Info
          </toggle-range>
          <toggle-range id="audience-engineer" type="toggle" chosen>
            Engineer Info
          </toggle-range>
        </header>
        {{ sections | safe }}
        <p class="disclaimer">
          The <strong>DAMATO</strong> Design System is not intended for use outside of itself and does not provide downloadable content or installation guides. You may use concepts, designs, and/or source code from this site however you like. Please consider attributing  where appropriate.
        </p>
      </main>
    </div>
  </body>
</html>