<html>
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <div class="app">
      <nav>
        <header class="header">
          <span class="logo">damato</span>
          <label for="navigation-toggle" class="nav-button">&equiv;</label>
        </header>
        <input type="checkbox" id="navigation-toggle"/>
        {% include "navigation.njk" %}
      </nav>
      <main>
        {{ sections | safe }}
      </main>
    </div>
  </body>
</html>