<html>
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <div class="app">
      <input type="checkbox" id="navigation-toggle"/>
      <nav>
        <header class="header">
          <span class="logo">
            {% include "damato.svg" %}
          </span>
          <label for="navigation-toggle" class="nav-button"></label>
        </header>
        {% include "navigation.njk" %}
      </nav>
      <main>
        <header class="controls">
          <dd-adjuster>
            System Color
          </dd-adjuster>
          <dd-adjuster style="--adjuster--accentColor:var(--accent--designerColor);">
            Designer Info
          </dd-adjuster>
          <dd-adjuster style="--adjuster--accentColor:var(--accent--engineerColor);">
            Engineer Info
          </dd-adjuster>
        </header>
        {{ sections | safe }}
      </main>
    </div>
  </body>
</html>