
<title>DAMATO - {{ title }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="DAMATO Design System created by Donnie D'Amato">
<link rel="manifest" href="manifest.json" />
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#198278">
<meta name="msapplication-TileColor" content="#198278">
<meta name="theme-color" content="#ffffff">
<link rel="prefetch" as="script" href="sw.min.js">
<script type="text/javascript">
  window.onload = () => 'serviceWorker' in navigator && navigator.serviceWorker.register('sw.min.js').then((registration) => registration.update());
</script>
<script type="text/javascript" src="scripts.min.js" async defer></script>

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preload" href="https://fonts.gstatic.com/s/jost/v2/92zatBhPNqw73oTd4jQmfxI.woff2" as="font" crossorigin>
<link rel="preload" href="https://fonts.gstatic.com/s/jost/v2/92zUtBhPNqw73oHt4D4hXRAy7g.woff2" as="font" crossorigin>
<link rel="preload" href="https://fonts.gstatic.com/s/materialicons/v51/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2" as="font" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300..800;1,300..800&display=swap" rel="preload" as="style">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="preload" as="style">
<link href="styles.min.css" rel="preload" as="style">

<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
<link href="styles.min.css" rel="stylesheet" media="print" onload="this.media='all'">

<noscript>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.min.css">
</noscript>

<style type="text/css">

  body.hidden {
    opacity: 0;
    animation: unhide 1s 2s ease forwards;
  }

  @keyframes unhide {
    to { opacity: 1; }
  }

  @media (prefers-color-scheme: dark) {
    body { background: #000; color: #fff }
  }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js" async defer></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-54428903-10"></script>
<script>
  if (window.location.hostname === 'damato.design') {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-54428903-10');
  }
</script>
