
<title>DAMATO Design System - {{ title }}</title>
<meta property="og:url" content="https://damato.design" />
<meta property="og:type" content="website" />
<meta property="og:title" content="DAMATO Design System - {{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="https://damato.design/og-image.jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="twitter:creator" content="@donniedamato" />
<meta property="twitter:creator:id" content="230538553" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="{{ description }}">
<meta name="msapplication-TileColor" content="#198278">
<meta name="theme-color" content="#ffffff">
<link rel="manifest" href="manifest.json" />
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#198278">
<link rel="alternate" href="https://damato.design" hreflang="en-us" />

<style type="text/css">

  body.hidden {
    opacity: 0;
    animation: unhide 1s 2s ease forwards;
  }

  @keyframes unhide {
    to { opacity: 1; }
  }

  @media (prefers-color-scheme: dark) {
    body { background: #000; color: #fff }
  }

</style>

<link rel="prefetch" as="script" href="sw.js">
<script type="text/javascript">
  window.onload = () => 'serviceWorker' in navigator && navigator.serviceWorker.register('sw.js').then((registration) => registration.update()).catch((err) => {});
</script>
<script type="text/javascript" src="scripts.js" async defer></script>

<link rel="preload" href="Jost.woff2" as="font" crossorigin>
<link href="styles.css" rel="preload" as="style">

<link href="styles.css" rel="stylesheet" media="print" onload="this.media='all'">

<noscript>
  <link rel="stylesheet" href="styles.css">
</noscript>

<!-- Global site tag (gtag.js) - Google Analytics -->
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-54428903-10"></script>
<script>
  if (window.location.hostname === 'damato.design') {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-54428903-10', {'transport_type': 'beacon'});
  }
</script>

<script type="application/ld+json">
{
  "@context": "schema.org",
  "@type": "Guide",
  "about": "Design Systems",
  "name": "DAMATO Design System",
  "text": "{{ description }}",
  "reviewAspect": [
    "Color",
    "Typography",
    "Layout",
    "Patterns",
    "Components"
  ]
}
</script>
