.content-section {
  background-color: var(--box--backgroundColor);
  border: 1px solid var(--box--borderColor);
  color: var(--box--foregroundColor);
  border-radius: 2px;
  padding: calc(var(--density--md) * 1rem);
  margin-bottom: calc(var(--density--md) * 1rem);
  position: relative;

  &[data-page]::before {
    content: attr(data-page);
    float: right;
    text-transform: uppercase;
    font-size: var(--textCaption--fontSize);
    font-weight: var(--textCaption--fontWeight);
    color: var(--box--borderColor);
    padding-left: calc(var(--density--md) * 1rem);
    padding-bottom: calc(var(--density--md) * 1rem);
  }

  > :last-child {
    margin-bottom: 0 !important;
  }

  p {
    margin: calc(var(--density--md) * 1rem) 0;
    page-break-inside: avoid;
  }

  h1 {
    font-size: var(--textHeading1--fontSize);
    font-weight: var(--textHeading1--fontWeight);
    font-family: var(--textHeading1--fontFamily);
    line-height: var(--textHeading1--lineHeight);
    text-transform: lowercase;
    letter-spacing: -.05em;
  }

  h2 {
    font-size: var(--textHeading2--fontSize);
    font-weight: var(--textHeading2--fontWeight);
    font-family: var(--textHeading2--fontFamily);
    line-height: var(--textHeading2--lineHeight);
    text-transform: lowercase;
    letter-spacing: -.05em;
  }

  h3 {
    font-size: var(--textHeading3--fontSize);
    font-weight: var(--textHeading3--fontWeight);
    font-family: var(--textHeading3--fontFamily);
    line-height: var(--textHeading3--lineHeight);
    text-transform: uppercase;
    margin-top: calc(var(--density--lg) * 1rem);
    margin-bottom: 0;
  }

  h4 {
    font-size: var(--textHeading4--fontSize);
    font-weight: var(--textHeading4--fontWeight);
    font-family: var(--textHeading4--fontFamily);
    line-height: var(--textHeading4--lineHeight);
    text-transform: uppercase;
    margin-top: calc(var(--density--lg) * 1rem);
    margin-bottom: 0;
  }

  [slot="value"] + h3, [slot="value"] + h4 {
    margin-top: calc(var(--density--md) * 1rem);
  }

  h1, h2, & > h3:first-child {
    margin: -.1em 0 calc(var(--density--md) * 1rem);
  }

  h1 strong,
  h2 strong,
  h3 strong {
    color: var(--accent--defaultColor);
  }

  img {
    max-width: 100%;
  }

  ul:not([class]) {
    list-style: none;
    --customMarker--setting: 1.5rem;
    padding-left: var(--customMarker--setting);

    & > li::before {
      content: "\0025b9";
      color: var(--accent--defaultColor);
      margin-left: calc(var(--customMarker--setting) * -1);
      width: var(--customMarker--setting);
      display: inline-block;
      font-size: 1.25em;
    }

    & > li:not(:last-child) {
      margin-bottom: calc(var(--density--md) * 1rem);
    }

  }

  hr {
    border-color: var(--box--borderColor);
  }

  table {
    display: block;
    border-collapse: collapse;
    overflow-x: auto;
    width: 100%;
    text-align: left;
    border: 1px solid var(--boxLowContrast--borderColor);
    margin: calc(var(--density--md) * 1rem) 0;
    position: relative;
  }

  thead {
    border-bottom: 1px solid var(--boxLowContrast--borderColor);
  }

  thead::after {
    content: "";
    border-bottom: 1px solid var(--boxLowContrast--borderColor);
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: -1px;
  }

  th {
    text-transform: capitalize;
  }
  
  table th,
  table td {
    padding: calc(var(--density--sm) * 1rem);
  }

  locale-table {
    max-height: 70vh;
    overflow: auto;
    display: block;
    border: 1px solid var(--boxLowContrast--borderColor);

    table {
      margin: 0;
      border: 0;
    }
  }

  blockquote {
    --blockquoteIcon--dimension: 2rem;
    background-color: var(--accent--defaultColor);
    color: var(--onAccent--defaultColor);
    margin: 0;
    border-radius: 2px;
    font-style: italic;
    font-variation-settings: "ital" 1;
    font-size: var(--textQuote--fontSize);
    font-weight: var(--textQuote--fontWeight);
    line-height: var(--textQuote--lineHeight);
    position: relative;
    padding: calc(var(--density--md) * 1rem);
    padding-left: calc(2 * (var(--density--md) * 1rem) + var(--blockquoteIcon--dimension));
  }

  blockquote a,
  blockquote a:hover {
    color: inherit;
    text-decoration: underline;
    background: transparent;
  }

  blockquote::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGc+PHBhdGggZD0iTTAgMGgyNHYyNEgwVjB6IiBmaWxsPSJub25lIi8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTIwIDJINGMtMS4xIDAtMiAuOS0yIDJ2MThsNC00aDE0YzEuMSAwIDItLjkgMi0yVjRjMC0xLjEtLjktMi0yLTJ6bTAgMTRINS4xN0w0IDE3LjE3VjRoMTZ2MTJ6TTcgOWgydjJIN3ptOCAwaDJ2MmgtMnptLTQgMGgydjJoLTJ6Ii8+PC9nPjwvc3ZnPg==");
    position: absolute;
    transform: scaleX(-1);
    width: var(--blockquoteIcon--dimension);
    height: var(--blockquoteIcon--dimension);
    left: 0;
    top: 0;
    margin: calc(var(--density--md) * 1rem);
  }

  blockquote p:first-child {
    margin-top: calc(var(--density--xs) * -1rem);
  }

  blockquote p:last-child {
    margin-bottom: calc(var(--density--xs) * -1rem);
    min-height: 2.5rem;
  }

  blockquote em {
    display: block;
    text-align: right;
    font-size: var(--textCaption--fontSize);
    font-weight: var(--textCaption--fontWeight);
    line-height: var(--textCaption--lineHeight);
    margin: calc(var(--density--md) * 1rem);
    margin-right: calc(var(--density--md) * -1rem);
    margin-bottom: calc(var(--density--lg) * 1rem);
    padding-top: calc(var(--density--sm) * 1rem);
    float: right;
    width: calc(100% + (var(--density--md) * 2rem) + var(--blockquoteIcon--dimension));
    color: var(--box--foregroundColor);
  }

  blockquote em::before {
    content: "\002014";
    margin-right: 1ch;
    text-decoration: none;
    color: inherit;
  }

  .audience-designer {
    display: block;
    margin: calc(var(--density--lg) * 1rem) 0;
    --accent--defaultColor: var(--accent--designerColor);
  }

  .audience-engineer {
    display: block;
    margin: calc(var(--density--lg) * 1rem) 0;
    --accent--defaultColor: var(--accent--engineerColor);
  }

  .badge {
    display: inline-block;
    padding: 0 calc(var(--density--sm) * 1rem);
    border-radius: 2px;
  }

  .swatch {
    padding: 0 calc(var(--density--lg) * 1rem);
    border: 1px solid var(--boxHighContrast--borderColor);
  }
}
